<p id="notice"><%= notice %></p>

<h1>Today's Tasks</h1>

<%= render 'table', tasks: @tasks_today %>

<br>

<h1>Other Tasks</h1>

<%= render 'table', tasks: @tasks_other %>


<%= link_to 'New Task', new_task_path %>
